body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #1e1e1e; /* Slightly lighter container */
    border-radius: 10px;
    box-shadow: rgba(93, 24, 220, 0.7) 0px 5px 15px;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 18px;
}

input, select, button {
    padding: 15px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

input::placeholder {
    color: #ccc;
}

button {
    padding: 15px;
    cursor: pointer;
    border: 0;
    background-color: #5e35b1;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #764abc;
    box-shadow: rgba(93, 24, 220, 0.7) 0px 7px 29px;
}

button:active {
    transform: translateY(5px);
    transition: 100ms;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    form {
        width: 100%;
    }

    input, select, button {
        font-size: 14px;
    }

    .container {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    input, select, button {
        padding: 12px;
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}
